<form action="/articles/add" method="POST">
  <label for="">Title</label>
  <input type="text" name="title" id="">
  <label for="">Body</label>

  <input type="text" name="body" id="">


  <button type="submit">Register</button>
</form>