<form action="/articles/add" method="POST">
  <input type="text" name="title" id="">
  <input type="text" name="author" id="">
  <input type="text" name="body" id="">
  <button type="submit">Submit</button>
</form>